{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Changement du mot de passe{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Changement du mot de passe</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 contact-icon">
            <i class="bi bi-unlock"></i>
        </div>
        <div class="col-12 col-md-6">
            {{ form(formPasswordChange) }}
        </div>
    </div>
{% endblock %}
