{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Changement du mot de passe{% endblock %}

{% block body %}
    {% if status == 'send' %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle-fill me-2" style="font-size:1.5rem"></i>
            <div>
                Votre mot de passe a été modifié.
            </div>
        </div>
    {% endif %}
    <div class="text-center">
        <h1>Changement du mot de passe</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 contact-icon">
            <i class="bi bi-unlock"></i>
        </div>
        <div class="col-12 col-md-6">
            {{ form(formPasswordChange) }}
        </div>
    </div>
{% endblock %}
