{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Mot de passe oublié ?{% endblock %}

{% block body %}
    {% if status == 'send' %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle-fill me-2" style="font-size:1.5rem"></i>
            <div>
                Si vous possédez un compte {{ app.request.host }}, un email vient de vous être envoyé afin de réinitialiser votre mot de passe.
            </div>
        </div>
    {% endif %}
    <div class="text-center">
        <h1>Mot de passe oublié ?</h1>
        <p>Si vous avez oublié votre mot de passe, saisissez votre email dans le formulaire ci-dessous. Un lien de réinitialisation vous sera envoyé.</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 contact-icon">
            <i class="bi bi-lock"></i>
        </div>
        <div class="col-12 col-md-6">
            {{ form(formPasswordRecovery) }}
        </div>
    </div>
{% endblock %}
