.case-white {
    background-color: #f7dfc5;

    &.clicked,
    &.selected {
        background-color: #8baf73;
    }

    &.last-move {
        background-color: #cdd26b;
    }

    &.possible-move::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: #646f40; /* Couleur de fond du cercle */
        border-radius: 50%;
        position: relative;
        transform: translate(-50%, -50%);
    }

    &.in-check {
        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #f7dfc5 89%, #f7dfc5 100%);

        &.clicked {
            background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #8baf73 89%, #8baf73 100%);
        }
    }
}

.case-black {
    background-color: #c67945;

    &.selected,
    &.clicked {
        background-color: #646f40;
    }

    &.last-move {
        background-color: #aba239;
    }

    &.possible-move::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: #646f40; /* Couleur de fond du cercle */
        border-radius: 50%;
        position: relative;
        transform: translate(-50%, -50%);
    }

    &.in-check {
        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #c67945 89%, #c67945 100%);

        &clicked {
            background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #646f40 89%, #646f40 100%);
        }
    }
}

.chess-table {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.piece {
    width: 64px;
    height: 64px;
}

.bg-grey {
    background-color: #cecece;
}

.col-center {
    display: inline-block;
    float: none;
}

.tchat {
    border: 1px solid black;
    height: 100%;
}
