.case-white {
    background-color: #f7dfc5;
}
.case-black {
    background-color: #c67945;
}

.case-white.selected {
    background-color: #8baf73;
}
.case-black.selected {
    background-color: #646f40;
}

.case-white.clicked {
    background-color: #8baf73;
}
.case-black.clicked {
    background-color: #646f40;
}

.case-white.possible-move::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #646f40; /* Couleur de fond du cercle */
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.case-black.possible-move::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #646f40; /* Couleur de fond du cercle */
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.chess-table {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.piece {
    width: 64px;
    height: 64px;
}

.case-white.in-check {
    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #f7dfc5 89%, #f7dfc5 100%)
}
.case-black.in-check {
    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #c67945 89%, #c67945 100%)
}

.case-white.in-check.clicked {
    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #8baf73 89%, #8baf73 100%)
}
.case-black.in-check.clicked {
    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #646f40 89%, #646f40 100%)
}

.case-white.last-move {
    background-color: #cdd26b;
}
.case-black.last-move {
    background-color: #aba239;
}

.bg-grey {
    background-color: #cecece;
}

.col-center {
    display: inline-block;
    float: none;
}

.tchat {
    border: 1px solid black;
    height: 100%;
}
