index:
    path: /
    controller: App\Controller\HomeController::index

game:
    path: game/{url}
    controller: App\Controller\GameController::gamefunction

gameAwait:
    path: game-await/{url}
    controller: App\Controller\GameController::gameawaitfunction

gameAi:
    path: game-ai/{url}
    controller: App\Controller\GameAIController::gameaifunction

watch:
    path: watch
    controller: App\Controller\WatchController::watchfunction

contact:
    path: contact
    controller: App\Controller\ContactController::contactfunction

about:
    path: about
    controller: App\Controller\AboutController::aboutfunction

login:
    path: login
    controller: App\Controller\LoginController::loginfunction

controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
