@import "~bootstrap/scss/bootstrap";

.board-account-history {
    display: flex;
    justify-content: right;

    @media (max-width: 767px) {
        margin-top : 1rem;
        margin-bottom : 1rem;
    }

    .one-column {
        display: flex;
        flex-direction: column;

        .chess-table {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            position: relative;

            .piece {
                z-index: 2;
                width: 100%;
                height: 100%;
            }

            &.case-white {
                background-color: #f7dfc5;

                &.last-move {
                    background-color: #cdd26b;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #f7dfc5 89%, #f7dfc5 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #8baf73 89%, #8baf73 100%);
                    }
                }
            }

            &.case-black {
                background-color: #c67945;

                &.last-move {
                    background-color: #aba239;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #c67945 89%, #c67945 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #646f40 89%, #646f40 100%);
                    }
                }
            }
        }
    }
}

#board {
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
        margin-top : 1rem;
        margin-bottom : 1rem;
    }

    .one-column {
        display: flex;
        flex-direction: column;

        .chess-table {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            cursor: pointer;
            position: relative;

            @media (max-width: 1300px) {
                width: 64px;
                height: 64px;
            }

            @media (max-width: 767px) {
                width: 12.4vw;
                height: 12.4vw;
            }

            .absolute-top-right {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 0.8rem;
            }

            .absolute-bottom-left {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 0.8rem;
            }

            .piece {
                z-index: 2;
                width: 100%;
                height: 100%;
            }

            &.case-white {
                background-color: #f7dfc5;

                &.clicked,
                &.selected {
                    background-color: #8baf73;
                }

                &.last-move {
                    background-color: #cdd26b;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #f7dfc5 89%, #f7dfc5 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #8baf73 89%, #8baf73 100%);
                    }
                }

                &.clicked-premove {
                    background-color: #827a85;
                }

                &.clicked-premove-hover {
                    &:hover {
                        background-color: #827a85;
                    }
                }

                &.possible-move {
                    &:has(img) {
                        background: radial-gradient(transparent 0%, transparent 79%, #8baf73 80%), #f7dfc5;
                    }

                    &:not(:has(img)) {
                        &:before {
                            content: "";
                            width: 25px;
                            height: 25px;
                            background-color: #8baf73;
                            border-radius: 50%;

                            @media (max-width: 1300px) {
                                width: 20px;
                                height: 20px;
                            }

                            @media (max-width: 767px) {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    &:hover {
                        background-color: #8baf73;
                    }
                    &.ui-droppable-hover {
                        background-color: #8baf73;
                    }
                }
            }

            &.case-black {
                background-color: #c67945;

                &.selected,
                &.clicked {
                    background-color: #646f40;
                }

                &.last-move {
                    background-color: #aba239;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #c67945 89%, #c67945 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #646f40 89%, #646f40 100%);
                    }
                }

                &.clicked-premove {
                    background-color: #64535d;
                }

                &.clicked-premove-hover {
                    &:hover {
                        background-color: #64535d;
                    }
                }

                &.possible-move {
                    &:has(img) {
                        background: radial-gradient(transparent 0%, transparent 79%, #646f40 80%), #c67945;
                    }

                    &:not(:has(img)) {
                        &:before {
                            content: "";
                            width: 25px;
                            height: 25px;
                            background-color: #646f40;
                            border-radius: 50%;

                            @media (max-width: 1300px) {
                                width: 20px;
                                height: 20px;
                            }

                            @media (max-width: 767px) {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    &:hover {
                        background-color: #646f40;
                    }
                    &.ui-droppable-hover {
                        background-color: #646f40;
                    }
                }
            }
        }
    }
}

.history {
    border: 1px solid black;
    height: 300px;

    overflow-y: auto;
    overflow-x: hidden;

    .last-history-move {
        background-color: #a3d6a3;
    }

    .one-move-san {
        cursor: pointer;
    }
}

.tchat {
    border: 1px solid black;
    height: 300px;

    overflow-y: auto;
    overflow-x: hidden;
}

.create-game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        align-self: stretch;
    }
}

.tbody-waiting-games {
    .join-game {
        cursor: pointer;

        &.disabled {
            // background-color: grey;
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 5rem;
    }
}

.account-home {
    justify-content: space-evenly;

    .account-home-item {
        border: 1px solid;
        border-radius: 4px;
        text-decoration: none;
    }
}

#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; // Allow to click throw the animation
    z-index: 99999; // Set fireworks at the top of everything
}

// Set decorations same as parent. Useful for <a>
.no-decoration {
    color: inherit;
    text-decoration: inherit;
}

.game-history-board {
    @media (max-width: 767px) {
        display: none;
    }
}

.user-connected-div {
    display: flex;
    justify-content: start;
    align-items: center;

    .user-connected {
        display: flex;
        width: 1rem;
        text-align: center;
        vertical-align: text-top;

        &:before {
            content: "";
            width: 0.7rem;
            height: 0.7rem;
            background-color: #73a23d;
            border-radius: 50%;
        }
    }

    .user-disconnected {
        display: flex;
        width: 1rem;
        text-align: center;
        vertical-align: text-top;

        &:before {
            content: "";
            width: 0.7rem;
            height: 0.7rem;
            border: 2px solid;
            border-radius: 50%;
        }
    }
}