@import "~bootstrap/scss/bootstrap";

#board {
    display: flex;
    justify-content: center;

    .one-column {
        flex: 0 1 auto;

        .chess-column-letter {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chess-line-number {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 20px;

            @media (max-width: 1300px) {
                height: 64px;
            }

            @media (max-width: 767px) {
                height: 53px;
            }
        }

        .chess-table {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            cursor: pointer;

            @media (max-width: 1300px) {
                width: 64px;
                height: 64px;
            }

            @media (max-width: 767px) {
                width: 53px;
                height: 53px;
            }

            .piece {
                width: 80px;
                height: 80px;

                @media (max-width: 1300px) {
                    width: 64px;
                    height: 64px;
                }

                @media (max-width: 767px) {
                    width: 53px;
                    height: 53px;
                }
            }

            &.case-white {
                background-color: #f7dfc5;

                &.clicked,
                &.selected {
                    background-color: #8baf73;
                }

                &.last-move {
                    background-color: #cdd26b;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #f7dfc5 89%, #f7dfc5 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #8baf73 89%, #8baf73 100%);
                    }
                }

                &.clicked-premove {
                    background-color: #827a85;
                }

                &.clicked-premove-hover {
                    &:hover {
                        background-color: #827a85;
                    }
                }

                &.possible-move {
                    &:not(:empty) {
                        background: radial-gradient(transparent 0%, transparent 79%, #8baf73 80%), #f7dfc5;
                    }

                    &:empty {
                        &:before {
                            content: "";
                            width: 25px;
                            height: 25px;
                            background-color: #8baf73; /* Couleur de fond du cercle */
                            border-radius: 50%;

                            @media (max-width: 1300px) {
                                width: 20px;
                                height: 20px;
                            }

                            @media (max-width: 767px) {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    &:hover {
                        background-color: #8baf73;
                    }
                    &.ui-droppable-hover {
                        background-color: #8baf73;
                    }
                }
            }

            &.case-black {
                background-color: #c67945;

                &.selected,
                &.clicked {
                    background-color: #646f40;
                }

                &.last-move {
                    background-color: #aba239;
                }

                &.in-check {
                    background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #c67945 89%, #c67945 100%);
                    &.clicked {
                        background : radial-gradient(ellipse at center, red 0%, #e70000 25%, #646f40 89%, #646f40 100%);
                    }
                }

                &.clicked-premove {
                    background-color: #64535d;
                }

                &.clicked-premove-hover {
                    &:hover {
                        background-color: #64535d;
                    }
                }

                &.possible-move {
                    &:not(:empty) {
                        background: radial-gradient(transparent 0%, transparent 79%, #646f40 80%), #c67945;
                    }

                    &:empty {
                        &:before {
                            content: "";
                            width: 25px;
                            height: 25px;
                            background-color: #646f40; /* Couleur de fond du cercle */
                            border-radius: 50%;

                            @media (max-width: 1300px) {
                                width: 20px;
                                height: 20px;
                            }

                            @media (max-width: 767px) {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    &:hover {
                        background-color: #646f40;
                    }
                    &.ui-droppable-hover {
                        background-color: #646f40;
                    }
                }
            }
        }
    }
}

.history {
    border: 1px solid black;
    height: 300px;

    overflow-y: auto;
    overflow-x: hidden;

    .last-history-move {
        background-color: #a3d6a3;
    }

    .one-move-san {
        cursor: pointer;
    }
}

.tchat {
    border: 1px solid black;
    height: 300px;

    overflow-y: auto;
    overflow-x: hidden;
}

.create-game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        align-self: stretch;
    }
}
