{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Mon compte{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Bienvenue dans votre compte {{ app.request.host }} !</h1>
    </div>
{% endblock %}
