<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Raphael Bellon">
        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}title{% endblock %}</title>

        {# {% include './favicons.html.twig' %} #}

        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('allSite') }}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('allSite') }}
    </body>
</html>
