{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Contactez-moi{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Contactez-moi !</h1>
        <p>Vous souhaitez signaler un bug, le développement d'une nouvelle fonctionnalité ou me contacter pour tout autre sujet, vous pouvez m'écrire via ce formulaire.</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 contact-icon">
            <i class="bi bi-envelope"></i>
        </div>
        <div class="col-12 col-md-6">
            {{ form(formContact) }}
        </div>
    </div>
{% endblock %}
